
.Voting_Portal-avatarContainer {
    padding: 0 12%;
  }
  /* this will change the size of photograph*/
  
  .Voting_Portal-avatar {
    /* make it responsive */
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    /* div height to be the same as width*/
    padding-top: 100% ;
  
    /* make it a circle */
    border-radius: 50%;
  
    /* Centering on image`s center*/
    background-position-y:centre;
    background-position-x:center;
    background-repeat: no-repeat;
  
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
  
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }

  

  .img1{background-image: url("../../public/cand1.jpg");}
  .img2{background-image: url("../../public/cand2.jpg");}
  .img3{background-image: url("../../public/cand3.jpg");}

.Voting_Portal-subContainer:hover {
  color: rgb(123, 66, 228);
  font-size: 20px;
  
}


  
  .Voting_Portal-name {
    font-size: 1.8em;
    font-weight:500;
  }
  
  
  .Voting_Portal-line {
    border-color: var(--grey);
  }
  
  
  .Voting_Portal-flex {
    display :flex;
    flex-grow: 1;
    
  }
  .Voting_Portal-left-of-info {
    text-align:right;
    font-size: 15px;
  }
  .Voting_Portal-right-of-info{
    text-align:left;
    font-weight: normal;
    font-size: 15px;
    
  }
  .Voting_Portal-info-subContainer {
    flex-grow: 1;
  }
  
  .Voting_Portal-subContainer {
    flex-grow: 1;
    flex-basis: 50%;
  }
  
  .Voting_Portal-subContainer + .Voting_Portal-subContainer {
    margin-left: var(--m);
  }
  
  .Voting_Portal-subTitle {
    font-weight: 300;
    font-size: 1.5em;
    margin: var(--m) var(--s);
  }

 

  
